<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
        <title> Galeria </title>
        <!--Enlazar CSS a HTML-->
        <link rel="stylesheet" href="../estilos/estilos.css">
        <!--Poner Favicon-->
        <link rel="icon" href="../favicon.png" type="image/png">
    </head>

    <body>
        <!-- CABECERA: Barra de navegación, logo, búsqueda, etc. -->
        <header>
            <h1>Series</h1>

            <!-- Barra de navegación -->
            <nav> 
            <!-- Lista desordenada -->   
            <ul id="barraNavegacion">
                <li><a href="../index.html"> Índice</a></li>
                <li><a href="#"> Series</a></li>
                <li><a href="./contacto.html"> Contacto</a></li>
            </ul>      
            </nav>
        </header>

        <!-- PRINCIPAL: Contenido principal. -->
        <main>
            <br><br>
            <h2>El Internado: Laguna Negra</h2>
            <p>El internado (conocida también como El internado: Laguna Negra) es una serie de televisión española de suspenso y drama producida por Globomedia para la cadena española Antena 3. <br><br>La serie fue emitida originalmente en España desde el 24 de mayo de 2007 hasta el 13 de octubre de 2010 con 7 temporadas y 71 episodios en total.​</p>
            <p>Marcos (Martin Rivas) y Paula (Carlota García), dos hermanos cuyos padres han desaparecido en alta mar, ingresan en el internado <strong>Laguna Negra</strong> bajo la tutela de su director, Héctor de la Vega (Luis Merlo). <br>Pronto empiezan a suceder <u>extraños sucesos y macabras muertes</u> y parece que Paula, de apenas 6 años, está en el centro de todo lo que ocurre, por lo que su hermano mayor Marcos comienza a investigarlo junto a sus compañeros de clase.</p>
            &ltblockquote&gt<p>En abril de 2013, El Internado: Laguna Negra se incluye en el <i>ranking</i> de The WIT de los mejores formatos televisivos de los últimos <sub>50 años</sub>; es la única producción española de la lista hasta ese momento. En diciembre <sup>de 2019</sup> se anuncia que la serie tendrá un reboot llamado <del> El Internado las cumbres</del>, que se emite en 2021 en Amazon Prime Video</p>&lt/blockquote&gt
            <br>
            <hr size="2px" width="400px" color="black">
            <br>

        <h3>Protagonistas</h3>
        </main>

        <!-- PIE DE PÁGINA: accesos a RRSS, aviso legal, etc. -->
        <footer>

        </footer>
    </body>

</html>