<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
        <title> Presupuesto</title>
        <!--Enlazar CSS a HTML-->
        <link rel="stylesheet" href="../estilos/estilos.css">
        <!--Poner Favicon-->
        <link rel="icon" href="../favicon.png" type="image/png">
    </head>

    <body>
        <!-- CABECERA: Barra de navegación, logo, búsqueda, etc. -->
        <header>
            <h1>Bienvenido</h1>

            <!-- Barra de navegación -->
            <nav> 
            <!-- Lista desordenada -->   
            <ul>
                <li><a href="#"> Índice</a></li>
                <li><a href="./views/galeria.html"> Galería</a></li>
                <li><a href="./views/contacto.html"> Contacto</a></li>
            </ul>      
            </nav>
        </header>

        <!-- PRINCIPAL: Contenido principal. -->
        <main>

        </main>

        <!-- PIE DE PÁGINA: accesos a RRSS, aviso legal, etc. -->
        <footer>

        </footer>
    </body>
    
</html>