
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*- 
-*-*-*-*-*-*-*-*-*-*-*-*-*-* ESTILOS GENERALES *-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*/


body {
    background-color: rgb(249, 242, 232);
}

h1{
    text-align: center;
    color: brown;
}

h2, h3{
text-align: center;
}

ul{
    list-style: square;
}

#barraNavegacion>li{
    display: inline;
}

#barraNavegacion>li>a{
    text-decoration: none;
}

#barraNavegacion{
    list-style-type: none;
}

table{
    border: 1px solid black;

}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*- 
-*-*-*-*-*-*-*-*-*-*-*-*-*-* ESTILOS INDEX *-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*/


/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*- 
-*-*-*-*-*-*-*-*-*-*-*-*-*-* ESTILOS GALERIA *-*-*-*-*-*-*-*-*
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*/